<footer style="margin-top: 24px;"
    class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark text-white">
    <p class="col-md-4 mb-0">&copy; 2024 Company, Inc</p>
</footer>