<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Verification code</title>
</head>

<body>
    <%- include('../partials/sectionOpening') %>

        <h2 class="fs-3 fw-normal text-center text-secondary mb-4">
            VERIFICATION CODE
        </h2>

        <div id="generalNotification" class="alert text-center mb-4" style="display: none;">

        </div>

        <form id="form">
            <div class="row gy-2 overflow-hidden">

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="code" id="code" placeholder="Code">
                        <label for="code" class="form-label">Code</label>
                        <div class="fs-6 invalid-feedback" id="codeError"></div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="d-grid my-3">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </div>

            </div>
        </form>

        <%- include('../partials/sectionClosing') %>

            <script src="/js/form/error.js"></script>
            <script src="/js/form/signup-verification-login.js"></script>
</body>

</html>